/* Global Stylesheet */

html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	padding: 0;
	margin: 0;
}

.header {
	background-color: #FEB9A6;
	display: flex;
	justify-content: center;
	padding: 1rem 1.5rem;

	& ul {
		list-style-type: none;
		display: flex;
		margin: 0;
		padding: 0;
	}
}

.constrain-desk {
	flex: 0 1 1100px;
}

.header .constrain-desk {
	display: flex;
	flex-direction: column;
	gap: .5rem;
}

.line-one {
	display: flex;
	align-items: center;
	gap: 1.2rem;
}

.logo {
	margin-right: auto;
}
.smedia {
	min-width: 20px;
}

.social-buttons {
	gap: 8px;
}

.line-two {
	display: flex;
	align-items: center;
	justify-content: center;
}

.nav-links {
	gap: 20px;
}